@import url("https://fonts.googleapis.com/css?family=Lato");
html,
body {
  height: 100%;
  margin: 0;
  font-family: Lato, sans-serif;
  background-color:     #E1E2E1;  
}

.card-header{
background: #2bec7c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #88dba8, #64dab6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #39e263, #14cc5b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
color:white;
}